#default .card-body {
    display: block;
}
#alphabet .card-body {
    display: none!important;
}
#downalphabet .card-body {
    display: none!important;
}
#date .card-body {
    display: none!important;
}
#downdate .card-body {
    display: none!important;
}