.imagen-receta{
    width: 400px;
    border-radius: 40px;
    border: 4px solid darkgray;
}

.titulo-receta{
    text-transform: uppercase;
    font-size: 40px;
    margin: 10px;
}


.descr{
    margin: 10px;
}


.iconos-receta{
    width: 40px
}

#todas-recetas-header{
    text-align: center;
}

.recetas-indiv{
    margin: 10px;
    position: relative;
}

.extra-inf{
    margin: 10px;
}


.ingr-prep-card{
    margin: 10px;
    padding: 10px;
}

.titulo-mostrar-todas-recetas{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom:px;
}

.img-mostrar-todas-recetas{
    width: 200px;
    border-radius: 25px;
    border: 2px solid darkgray;
}