{% extends 'chefcitoapp/menu.html' %}

{% block title %} Agregar Ingrediente {% endblock %}

{%block content %}
       <div class="container" style="margin-top: 2em">
            <div id="encabezado" class="row">
                <div  class="col-8">
                <!-- Encabezado de la página-->
                   <h1>Agregar Ingrediente</h1>
               <!-- Fin encabezado -->
                </div>
                <div class="col form-group">
                    {% if  user.is_authenticated %}
                        <h2 >Usuari@: {{ user.username }}</h2>
                    {% endif %}

                </div>
            </div>
            <div id="segunda-parte" >
                {% if user.is_authenticated %}
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %} <!-- csrf token for basic security -->
                        <div class="card col-sm-12" id="nueva-">
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm-6 ">
                                        <label for="ingrediente_nombre">Nombre del ingrediente: </label>
                                        <br>
                                        {{ form.ingrediente_nombre }}
                                    </div>
                                </div>
                                <br>
                                <div class="form-group ">
                                    <button type="submit" value="submit" class="btn btn-primary btn-lg btn-block login-button">Añadir Ingrediente</button>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else  %}
                    <div class="card-header">
                        Necesitas iniciar sesión para publicar una receta.
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}