{% extends 'chefcitoapp/menu.html' %}

{% block title %} Editar Perfil {% endblock %}


{%block content %}
<div class="container" style="margin-top:2em;">
	{% if messages %}
	<ul>
		{% for message in messages %}
		<div class='alert {{message.tags}}'>
			{{message}}
		</div>
		{% endfor %}
	</ul>
	{% endif %}
	<div class="row justify-content-center">
		<div class="card">
			<div class="card-header h3">Editar perfil</div>
			<div class="card-body">
				<!-- Fotito -->
				<!-- <div class="row-3" style="margin-left: 20%;"> -->
				<form id="picture" method="post" enctype="multipart/form-data">

					{% load static %}
					{% csrf_token %}

					<!-- <h1>{{ user.first_name }} {{ user.last_name }}</h1> -->
					<div class="form-group row">
						<div class="col-4">
							<label for="Picture">Foto: </label><br>
							{% if user.avatar %}
							<img src="{{ user.avatar.url }}" class="fotoperfil-edit">
							{% else %}
							<img src="{% static 'chefcitoapp/logo.png' %}" class="fotoperfil-edit">
							{% endif %}
						</div>
						<div class="col">
							<div class="custom-file" lang="es" style="margin-top: 30px;">
								<br>
								<label class="custom-file-label" for="adjunto">Elegir Archivo</label>
								<input style="width:100%;" type="file" class="custom-file-input" name="adjunto"
									id="adjunto" required>
								<span id="archivospanError" style="display: none;">Debes seleccionar un archivo</span>
							</div>
							<!-- <label for="exampleFormControlFile1">Cambiar Foto:</label>
                      <input name="adjunto" type="file" class="form-control-file" id="exampleFormControlFile1" style="margin-top: 10px;" required> -->
							<button type="submit" name="fotoperfil-edit" class="btn btn-primary"
								style="margin-top: 30px; width: 100%;">Guardar Foto</button>
						</div>
					</div>
				</form>

				<form id="form" method="post" novalidate>
					{% csrf_token %}
					<div class="form-group row">
						<!-- Fila -->
						<div class="col">
							<label for="Nombre">Nombre: </label>
							<input type="text" class="form-control" id="Nombre" name="Nombre"
								value="{{ user.first_name }}" required>
							<span id="nombreError">Debes ingresar un nombre válido</span>
						</div>
						<div class="col">
							<label for="Apellido">Apellido: </label>
							<input type="text" class="form-control" id="Apellido" name="Apellido"
								value="{{ user.last_name }}" required>
							<span id="apellidoError">Debes ingresar tu apellido</span>
						</div>
					</div>

					<div class="form-group row">
						<!-- Fila -->
						<div class="col">
							<label for="mail">Mail: </label>
							<input type="email" class="form-control" id="mail" value="{{ user.email }}" disabled>
						</div>
					</div>

					<div class="form-group row">
						<!-- Fila -->
						<div class="col">
							<label for="Apodo">Nombre de usuario: </label>
							<input type="text" class="form-control" id="Apodo" name="Apodo" value="{{ user.username }}"
								disabled>
						</div>
						<div class="col">
							<label for="Nacimiento">Fecha de Nacimiento: </label>
							<input type="date" class="form-control" id="Nacimiento" name="Nacimiento"
								value="{{ user.fecha_nacimiento|truncatewords:3 }}">
							<span id="fechaError">Debes ingresar una fecha válida</span>
						</div>
					</div>
					<div class="form-group">
						<label for="Experiencia">Experiencia en la cocina: </label>
						<select class="custom-select" id="Experiencia" name="Experiencia"
							value="{{ user.experiencia }}">
							{% for exp in user.exp %}
							<option>{{exp}}</option>
							{% endfor %}
						</select>
					</div>
					<label>Preferencias de dieta: </label>
					<div class="form-group row">
						<!-- Fila -->
						<div class="col" style="max-width: max-content;">
							<div class="custom-control custom-checkbox">
								{% if user.vegetariano %}
								<input type="checkbox" class="custom-control-input" id="Vegetariano" name="Vegetariano"
									checked>
								{% else %}
								<input type="checkbox" class="custom-control-input" id="Vegetariano" name="Vegetariano">
								{% endif %}
								<label class="custom-control-label" for="Vegetariano">Vegetariana</label>
							</div>
						</div>
						<div class="col" style="max-width: max-content;">
							<div class="custom-control custom-checkbox">
								{% if user.vegano %}
								<input type="checkbox" class="custom-control-input" id="Vegano" name="Vegano" checked>
								{% else %}
								<input type="checkbox" class="custom-control-input" id="Vegano" name="Vegano">
								{% endif %}
								<label class="custom-control-label" for="Vegano">Vegana</label>
							</div>
						</div>
						<div class="col" style="max-width: max-content;">
							<div class="custom-control custom-checkbox">
								{% if user.diabetico %}
								<input type="checkbox" class="custom-control-input" id="Diabetico" name="Diabetico"
									checked>
								{% else %}
								<input type="checkbox" class="custom-control-input" id="Diabetico" name="Diabetico">
								{% endif %}
								<label class="custom-control-label" for="Diabetico">Diabética</label>
							</div>
						</div>
						<div class="col" style="max-width: max-content;">
							<div class="custom-control custom-checkbox">
								{% if user.celiaco %}
								<input type="checkbox" class="custom-control-input" id="Celiaca" name="Celiaco" checked>
								{% else %}
								<input type="checkbox" class="custom-control-input" id="Celiaca" name="Celiaco">
								{% endif %}
								<label class="custom-control-label" for="Celiaca">Celíaca</label>
							</div>
						</div>
						<div class="col" style="max-width: max-content;">
							<div class="custom-control custom-checkbox">
								{% if user.intolerancia_lactosa %}
								<input type="checkbox" class="custom-control-input" id="int_lactosa" name="int_lactosa"
									checked>
								{% else %}
								<input type="checkbox" class="custom-control-input" id="int_lactosa" name="int_lactosa">
								{% endif %}
								<label class="custom-control-label" for="int_lactosa">Sin Lactosa</label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<label for="Descripcion">Descripción: </label>
							<textarea class="form-control" id="Descripcion"
								name="Descripcion">{{ user.descripcion }}</textarea>
						</div>
					</div>

					<button type="submit" name="profileinfo" style="width: 100%;" class="btn btn-primary center">Guardar
						cambios</button>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% load static %}
<script src="{% static 'drive/js/profile.js' %}"></script>
{% endblock %}