<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    
    <!-- wuuuuu<link rel="stylesheet" type="text/css" href="{% static '/todoapp/style.css' %}">-->
</head>
<body>
    <nav class="navbar navbar-dark" style="background-color:#ff0080;">
        <a class="navbar-brand" href="#" style="color: aliceblue;">
            <img src="http://drive.google.com/uc?export=view&id=1C1oVbqV5pOVhiXTA_7O4oNwA3KVh-yx3" style="height: 60px;"> 
            Chefcitos
        </a> 
        <form class="form-inline">
             {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-outline-light">Cerrar sesión </a>
                {% else %}
                    <a href="{% url 'register_user' %}" class="btn btn-outline-light">Registrarse</a>
                    <a href="{% url 'login' %}" class="btn btn-outline-light">Iniciar Sesión</a>
                {% endif %}
        </form>
    </nav>
    <main>{% block content %}{% endblock %}</main>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>