{% extends 'chefcitoapp/menu.html' %}

{% block title %} PERFIL {% endblock %}

{%block content %}
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{ username }}</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->


        <div class="text-center">
            <img src={{ form.avatar }} class="avatar img-circle img-thumbnail" alt="avatar">
        </div>
            <br>

            <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
            </ul>

        </div><!--/col-3-->
    	<div class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label><h4>Nombre: {{ form.first_name }}</h4></class></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="username"><h4>Username: {{ form.username }}</h4></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="last_name"><h4>Apellido: {{ form.last_name }}</h4></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="password"><h4>Password: {{ form.password }}</h4></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="email"><h4>Email: {{ form.email }}</h4></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="tel"><h4>Fecha de Nacimiento: {{ form.fecha_nacimiento  }}</h4></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label><h4>Experiencia: {{ form.experiencia  }}</h4></label>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="tel"><h4>Descripcion: {{ Descripcion  }}</h4></label>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-xs-12">
                        <br>
                        <button href="{% url 'editar_perfil' %}">Editar</button>
                    </div>
                </div>

              <hr>

            </div><!--/tab-pane-->

              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

{% endblock %}