# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Roberto\Desktop\Segundo-Semestre-2020\Ingeniería de Software\Proyecto\2020-2-grupo5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
